*{
    background-color: rgba(255, 247, 247, 0.711);
}

.container {
    margin: auto;
    width: 60%;
    border: 0.1rem solid rgba(128, 0, 0, 0.767);
    border-radius: 1rem;
    margin-top: 7rem;
    padding: 5rem;
}

form {
    margin: auto;
    width: 80%;  
}

input, button{
    color: black;
    padding: 0.5rem;
    margin-right: 0.2rem;
    margin-top: 1rem;
}