
<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <h3>Enter name to collect Pokémon</h3>
        <input type="text" 
                placeholder="Your name"
                ngModel
                name="title"
                #title="ngModel"
                required
                minlength="2"/>
    
        <div *ngIf="title.errors && (title.dirty || title.touched)">
            <p *ngIf="title.errors.required">Name is required</p>
            <p *ngIf="title.errors.minlength">Name is too short</p>
        </div>
    
        <button type="submit" [disabled]="loginForm.form.invalid">
            Use name
        </button>
    </form>
</div>
