<div class="title">
    <h1>CATALOGUE PAGE</h1>
    <p>Collected Pokémon here</p>
</div>

<ul>
    <li *ngFor="let pok of pokemon" (click)="collect(pok)">
        <div *ngIf="pok.collected" class="pokemon">
            <img src="{{ pok.img }}" alt="" style="opacity: 0.3;">
            <h3 style="opacity: 0.3;">{{ pok.name }}</h3>
        </div>
        <div *ngIf="!pok.collected" class="pokemon">
            <img src="{{ pok.img }}" alt="">
            <h3>{{ pok.name }}</h3>
        </div>
    </li>
</ul>