
.title {
    text-align: center;
    margin: 2rem;
}


ul {
    display: inline-block;
}

li {
    display: inline-block;   
    width: 20%;
}

.pokemon {
    border: 0.1rem solid grey;
    position: relative;
    text-align: center;
    margin: 0.5rem;
}

.pokemon img{
    height: 10rem;
    padding: 1rem;
}

.pokemon h3 {
    background-color: rgb(166, 0, 0);
    color: white;
    position: relative;

}

.clicked {
    opacity: 0.5;
  }