.navbar {
    background-color: rgba(207, 50, 50, 0.882);
    border-bottom: solid rgb(139, 0, 0);
    height: 6rem;
}
 
.navbar-logo {
    padding: 1rem;
}

img {
    height: 4rem;
    margin: 1rem;
}

.navbar h1 {
    display: inline-flex; 
    font-size: 3rem;
    padding-left: 2rem;
    vertical-align: text-bottom;
    font-family: 'Chakra Petch', sans-serif;
}

.user {
    display: inline-flex; 
    font-family: 'Chakra Petch', sans-serif;
    float: right;
    vertical-align: text-bottom;
    padding: 2rem;
    border: solid black 0.1rem;
    border-radius: 6rem;
    margin: 0;
    background-color: rgba(233, 105, 105, 0.882);
    color: black;
    text-decoration: none;
}

.logout {
    padding-left: 30rem;
    padding-bottom: 10rem;
    font-size: 3rem;
    font-family: 'Pinyon Script', cursive;
}