<nav class="navbar">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
      <a class="navbar-logo">
        <img
          src="https://pngimg.com/uploads/pokeball/small/pokeball_PNG21.png"
          height="30"
          alt=""
          loading="lazy"
        />
        <h1>Pokemon Training</h1>
      </a>
      <a class="logout" (click)="logout()" *ngIf="pageTitle!='Login Page'">Logout</a> 
      <a href="/trainer" class="user" *ngIf="pageTitle=='Pokemon Catalogue'">
        <span class="material-icons">
          person
          </span>
        <p>Trainer page</p>
        </a>
      <a href="/pokemon" class="user" *ngIf="pageTitle=='Trainer Page'">
        <span class="material-icons">
          catching_pokemon
          </span>
        <p>Pokemon catalogue</p>
        </a>
  </nav>