<div class="title">
    <h1>TRAINER PAGE</h1>
    <p>Your collected Pokémon</p>
</div>

<div class="pokemonlist">
    <ul>
        <li *ngFor="let pok of pokemon">
            <div class="pokemon">
                <img src="{{ pok.img }}" alt="">
                <h3>{{ pok.name }}</h3>
            </div>
        </li>
    </ul>
    
</div>


